@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/*color#18191B*/

/*alsmostviolet#0f172a*/

@theme {
  --color-primary: #0078d4;
  --color-primary-dark: #041037;
  --color-background: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
}

h6 {
  font-size: 1.6rem;
  font-weight: 500;
}

.hero-path {
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  z-index: 2;
}

.about-path {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  z-index: 1;
}
html {
  font-size: 62.5%;
}

@media (min-width: 640px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 85%;
  }
}
