@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/*color#18191B*/

@theme {
  --color-primary: #155dfc;
  --color-primary-dark: #193cb8;
  --color-background: #ffffff;
}

html {
  font-size: 100%;
}

/* @media (min-width: 640px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 68.75%;
  }
} */
